.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.button {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 80px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.note_container {
  height: 72vh;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll_container {
  width: 90vw;
  height: 100%;
  overflow: auto;
}

.scroll_container::-webkit-scrollbar {
  width: 0.5em;
}

.item_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.countryName {
  margin-top: 20px;
}

.item_yes {
  width: calc(25% - 8px);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.item_no {
  width: calc(25% - 8px);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  filter: brightness(0.1);
}

.modal {
  height: max-content;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.gacha_item {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 12px;
}

.item_country {
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}

.description {
  margin: 16px 0;
}

.gift {
  position: absolute;
  top: 50%;
  z-index: 1000;
  transform: translateY(-50%);
  left: 0;
}

.btn_bring {
  position: absolute;
  bottom: 4px;
}
