* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

:root {
  --primary: #ca4a51;
  --gray: #666666;
  --shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  --text-xs: 12px;
  --text-sm: 14px;
  --text-lg: 28px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../public/fonts/Pretendard-Medium.woff2") format("woff2");
  font-display: block;
}
