* {
  text-decoration: none;
  --primary: #ca4a51;
  --gray: #666666;
  --shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  --text-xs: 12px;
  --text-sm: 14px;
  --text-lg: 28px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'Pretendard';
  src: url("../../public/assets/fonts/PretendardVariable.ttf");
}