.letter {
  position: absolute;
  z-index: 1;
  transform: translateX(-50%) scale(0);
  left: 50%;
  bottom: 4%;
  transition: all 1.6s;
}

.arive {
  transform: translateX(-50%) scale(1);
  bottom: 36%;
  animation: ease-in-out;
  max-width: 100%;
  height: auto;
}

.shake {
  animation: shake 0.8s infinite;
}

@keyframes shake {
  0% {
    transform: translate(-50%, 0);
  }
  10% {
    transform: translate(-49.5%, -1px);
  }
  20% {
    transform: translate(-50.5%, 1px);
  }
  30% {
    transform: translate(-49.5%, 1px);
  }
  40% {
    transform: translate(-50.5%, -1px);
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
