.userProfile {
  display: flex;
  align-items: center;
  height: 100px;
}

.profileImg {
  width: 36%;
}

.memberName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
  text-align: center;
  height: 100%;
}

.content {
  display: flex;
  justify-content: space-around;
}
