.userProfile {
  display: flex;
  align-items: center;
  height: 100px;
}

.profileImg {
  width: 36%;
  border-radius: 20px;
}

.profileImg:hover {
  filter: brightness(50%);
}

.profileImg:focus {
  filter: brightness(50%);
}

.memberName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  flex-grow: 1;
  height: 100%;
  font-size: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 6px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.text {
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
