.container {
    background-image: url("../../../../public/images/map/asia.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.mapAllButton {
    position: absolute;
    left: 140px;
    bottom: 40px;
}