.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(219, 87, 96, 80%), #e7dbdb);
  text-align: center;
}

.clouds {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 80%;
}
