.container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../public/images/blue-sky.jpg');
    background-size: cover;
}

.mapAllButton {
    position: absolute;
    z-index: 2;
    left: 140px;
    top: 10px;
}

.modalTitle {
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
}

.modalText {
    white-space: pre-line;
    margin-top: 10px;
    margin-bottom: 10px;
}