.container {
  background-color: white;
  width: 80%;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
  color: black;
  box-shadow: var(--shadow);
}
