.container {
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  width: 94px;
  height: 48px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  box-shadow: var(--shadow);
}
